@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: '#fff';
}

main {
  background-color: '#fff';
}

.scrollable-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
